@use "../color";
@import "../color";

.Wraper {
    display: flex;
    // margin-top: 5rem;
    padding-top: 0rem;

    width: 100%;
    align-items: center;
    flex-direction: column;
    .Container {
        width: 100%;
        font-family: Space Grotesk;
        font-size: 1.3rem;
        font-weight: 400;
        letter-spacing: -0.04rem;
        color: #7b7b7b;
        max-width: 180rem;
        overflow: hidden;
        .Hero {
            padding: 10rem 4rem 0rem 4rem;

            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column-reverse;
        }
    }
}
