@use "../color";
@import "../color";
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Space+Grotesk:wght@300..700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");


.Wraper {
    display: flex;

    width: 100%;
    align-items: center;
    flex-direction: column;
    .Container {
        width: 100%;
        font-family: Space Grotesk;
        font-size: 1.3rem;
        font-weight: 400;
        letter-spacing: -0.04rem;
        color: #7b7b7b;
        max-width: 180rem;
        overflow: hidden;
        
    }
}

.Hero {
    width: 100%;
    background-color: $surfaceprimary;

    background: linear-gradient(180deg, $burnertheme 0%, #121212 96.75%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem 4rem 0rem 4rem;
    flex-direction: column;
    position: relative;
    gap: 2rem;

    @media only screen and (max-width: 800px) {
        padding: 2rem 2rem;
    }
    .NameBadge {
        width: 100%;
        object-fit: contain;
    }

    .APUSticker {
        object-fit: contain;
        position: absolute;
        bottom: 0;
        user-select: none;
        height: 39rem;
    }

    .TopLayer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        .Label {
            text-decoration: none;
            font-family: Space Grotesk;

            font-size: 1.3rem;
            text-transform: uppercase;
            color: $themelight;
            text-wrap: nowrap;
            padding: 2rem 0rem;
            letter-spacing: -0.01rem;
        }
    }

    .CTALinks {
        display: flex;
        gap: 0.3rem;
        padding: 2rem 0rem;
        flex-direction: row-reverse;
        user-select: none;
        width: 100%;
        align-items: center;
        justify-content: center;
        @media only screen and (max-width: 800px) {
            padding: 2rem 2rem;
        }

        @media only screen and (max-width: 800px) {
            flex-direction: column;
            .CTALink{
                width: 100%;
            }
        }

        .CTALink {
            background-color: #fff;
            border:0.2rem solid #fff;
            // background-color: transparent;
            color: #fff;
            text-decoration: none;

            font-family: Space Grotesk;
            text-wrap: nowrap;
            font-size: 1.3rem;
            font-weight: 500;
            letter-spacing: -0.02rem;
            line-height: 100%;
            color: $themelight;
            text-transform: uppercase;
            color: #121212;
            padding: 2rem 3rem;
            border-radius: 4rem;
            box-sizing: content-box;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover{
                border:0.2rem solid #fff;
                background-color: #fff;
                color: #222;
            }
            &:nth-child(2) {
                border:0.2rem solid #fff;
                background-color: transparent;
                color: #fff;
                transition: 0.2s ease-in-out;
                &:hover{
                    border:0.2rem solid #fff;
                    background-color: #fff;
                    color: #222;
                }
            }
        }
    }

    .Technologies {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        margin-top: 3rem;
        padding: 2rem 2rem 4rem 2rem;
        background-color: #1212123f;
        .Label {
            font-family: Space Grotesk;

            font-size: 1.3rem;
            font-weight: 400;
            letter-spacing: -0.02rem;
            line-height: 160%;
            color: $themelight;
            opacity: 0.4;
            text-transform: uppercase;
        }

        .sliderContainer {
            .Slider {
                display: flex;
                flex-direction: row;
                gap: 2rem;
                align-items: center;

                .TechBanner {
                    height: 2.8rem;
                    opacity: 0.2;
                    user-select: none;
                }
            }
        }
    }
}

.Creations {
    padding: 1rem 4rem 4rem 4rem;
    display: flex;
    flex-direction: column;
    background-color: #1212123f;

    gap: 2rem;

    @media only screen and (max-width: 800px) {
        padding: 6rem 1.4rem;
    }

    .CreationsGrid {
        list-style: none;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2.4rem;

        @media only screen and (max-width: 1400px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media only screen and (max-width: 1000px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media only screen and (max-width: 800px) {
            grid-template-columns: repeat(1, 1fr);
        }

        .Creation {
            display: flex;
            .Thumbnail {
                max-width: 100%;
                user-select: none;
                height: auto;
                display: block;
            }
        }
    }
}
