.Wraper {
    display: flex;
    
    width: 100%;
    align-items: center;
    flex-direction: column;
    .Container {
        width: 100%;
        font-family: Space Grotesk;
        font-size: 1.3rem;
        font-weight: 400;
        letter-spacing: -0.04rem;
        // text-transform: uppercase;
        color: #7b7b7b;
        max-width: 180rem;
        overflow: hidden;
    }
}

.Hero {
    // max-width: 180rem;
    width: 100%;
    // height: 100vh;
    background-color: #ddd5d0;
    // background-color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6rem 4rem;
    flex-direction: column;
    position: relative;
    gap: 1rem;
    .NameBadge {
        // height: 16rem;
        width: 100%;
        object-fit: contain;
    }

    .APUSticker {
        object-fit: contain;
        position: absolute;
        bottom: 0;
        user-select: none;
        height: 39rem;
    }

    .BottomLayer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        .Label {
            text-decoration: none;
            font-family: N27 Regular;
            font-size: 1.3rem;
            text-transform: uppercase;
            color: #222;
            text-wrap: nowrap;
            padding: 2rem 1rem;
            letter-spacing: -0.01rem;
        }
    }

    .Technologies{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
        .Label{
            display: none;
            font-family: N27 Regular;
            font-size: 1rem;
            font-weight: 400;
            letter-spacing: -0.04rem;
            line-height: 160%;
            color: #7b7b7b;
            text-transform: uppercase;
        }


        .sliderContainer{
            .Slider{
                display: flex;
                flex-direction: row;
                gap: 2rem;
                align-items: center;

                .TechBanner{
                    height: 2.8rem;
                    opacity: 0.5;
                    user-select: none;
                }
            }
        }
    }
}

.Mission {
    padding: 1rem 4rem;
    .Statement {
        font-family: N27 Regular;
        font-size: 1.7rem;
        font-weight: 400;
        letter-spacing: -0.04rem;
        line-height: 160%;
        color: #7b7b7b;
        max-width: 180rem;
        // text-transform: lowercase;
        width: 50%;
    }
}

.Creations {
    padding: 6rem 4rem;
    .Statement {
        font-family: N27 Regular;
        font-family: Brockmann;

        font-size: 2rem;
        font-weight: 600;
        letter-spacing: -0.1rem;
        line-height: 160%;
        color: #222;
        max-width: 180rem;
        // text-transform: lowercase;
        width: 50%;
    }

    .CreationsGrid {
        list-style: none;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 16px;


        .Creation {
            // grid-template-columns: 1fr;
            .Thumbnail{
                max-width: 100%; /* Ensure the image doesn't exceed the width of its container */
                height: auto; /* Maintain the aspect ratio */
                display: block;
            }
        }
    }
}
