.Wraper {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    .Container {
        width: 100%;
        font-family: Space Grotesk;
        font-size: 1.3rem;
        font-weight: 400;
        letter-spacing: -0.04rem;
        text-transform: uppercase;
        color: #7b7b7b;
        max-width: 180rem;
    }
}

.Hero {
    // max-width: 180rem;
    width: 100%;
    // height: 100vh;
    background-color: #DDD5D0;
    // background-color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6rem 4rem;
    flex-direction: column;
    position: relative;
    gap: 1rem;
    .NameBadge {
        // height: 16rem;
        width: 100%;
        object-fit: contain;
    }

    .APUSticker {
        object-fit: contain;
        position: absolute;
        bottom: 0;
        user-select: none;
        height: 39rem;
    }

    .BottomLayer{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        .Label{
            text-decoration: none;
            font-family: N27 Regular;
            font-size: 1.3rem;
            text-transform: uppercase;
            color: #222;
            text-wrap: nowrap;
            padding: 2rem 1rem;
            letter-spacing: -0.01rem;
        }
    }
}


.Mission{
    padding: 4rem 2rem;
    .Statement{
        font-family: Brockmann;
        font-size: 2rem;
        font-weight: 400;
        letter-spacing: -0.04rem;
        line-height: 150%;
        color: #7b7b7b;
        max-width: 180rem;
        text-transform: lowercase;
    }
}