@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Space+Grotesk:wght@300..700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  -webkit-tap-highlight-color: none;
}


html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #fff;
}

::-webkit-scrollbar {
  display: none;
}

::selection {
  color: #fff;
  background: #222;
}


// Enternal Fonts

@font-face {
  font-family: Geomanist Regular;
  src: url(/fonts/geomanist.woff);
}

@font-face {
  font-family: Geomanist Book;
  src: url(/fonts/Geomanist-Book.woff);
}

@font-face {
  font-family: Geomanist Medium;
  src: url(/fonts/Geomanist-Book.woff);
}

@font-face {
  font-family: Geomanist Bold;
  src: url(/fonts/Geomanist-Bold.woff);
}