.CreationCard {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    .Thumbnail {
        user-select: none;
        max-width: 100%;
        user-select: none;
        height: auto;
        display: block;
        margin: 0rem 0rem 1rem 0rem;
    }

    .CardData {
        display: none;
        .Tag {
            font-family: Space Grotesk;
            text-transform: uppercase;
            font-size: 1.3rem;
            color: #222;
            padding: 0.5rem;
            line-height: 100%;
            font-weight: 400;
            display: flex;
            align-items: center;
            gap: 1rem;

            .Circle {
                display: flex;
                height: 1rem;
                width: 1rem;
                background-color: #b0b7cf;
                border-radius: 10rem;
            }
        }

        .Title {
            margin: 2rem 0rem;
            font-family: Space Grotesk;
            margin: 1.2rem 0rem;
            font-size: 1.6rem;
            color: #111;
            text-transform: uppercase;
            display: inline-flex;
            gap: 1rem;
            line-height: 130%;
        }

        .Description {
            font-family: Space Grotesk;
            font-size: 1.2rem;
            font-weight: 1.3rem;
            color: #8a8a8a;
            display: none;
        }
    }
}
