@use "../../color";
@import "../../color";

.CreationCard {
    width: 100%;
    .CardLink {
        display: flex;
        flex-direction: column;
        gap: 0rem;
        width: 100%;
        &:hover {
            .CardData {
                opacity: 0.6;
            }

            .Thumbnail {
                opacity: 0.7;
            }
        }
        text-decoration: none;
        .Thumbnail {
            pointer-events: none;
            user-select: none;
            width: 100%;
            user-select: none;
            object-fit: contain;
            height: auto;
            display: flex;
            margin: 0rem 0rem 0.4rem 0rem;
            transition: 0.2s ease-in-out;
        }

        .CardData {
            margin: 1rem 0rem;
            transition: 0.2s ease-in-out;
            user-select: none;

            .Title {
                font-family: Geomanist Medium;
                font-family: Space Grotesk;

                letter-spacing: 0rem;
                font-weight: 500;
                font-size: 1.4rem;
                color: $themedark;
                color: $wraperslate;
                display: inline-flex;
                letter-spacing: -0.02rem;
                gap: 1rem;
                line-height: 130%;
            }
        }
    }
}
